// Colours
$primary-color: #064771;
$secondary-color: #181818;
$white: #ffffff;
$grey: #efefef;
$black: #000000;

// Spacing
$spacing-xlarge: 8rem;
$spacing-large: 5rem;
$spacing-medium: 3rem;
$spacing-small: 2rem;

// Radius
$radius-small: 6px;

// Width
$max-width: min(100% - 3rem, 75rem);

// Font-Family
$primary-font-family: 'Poppins', sans-serif;
$secondary-font-family: 'Trebuchet MS', Lucida Sans Unicode, Lucida Grande, Lucida Sans, Arial, sans-serif;
