/* file import */
/* $radius is the parameter of the function */
*,
*::before,
*::after {
  box-sizing: border-box;
}

.m-hidden {
  display: none;
}
@media (width >= 25em) {
  .m-hidden {
    display: inline-block;
  }
}

img {
  width: 100%;
}

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  color: #ffffff;
}
body::after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;
  height: 100%;
  background-color: #064771;
}
@media (width >= 40em) {
  body::after {
    background-image: url(../img/cross.svg);
    background-blend-mode: multiply;
  }
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-block: 0;
  letter-spacing: 0.2px;
  font-size: unset;
}

h2 {
  font-weight: 300;
  margin-block: 0;
  letter-spacing: 0.2px;
}
@media (width >= 40em) {
  h2 {
    font-size: 4rem;
  }
}
@media (width >= 50em) {
  h2 {
    font-size: 6rem;
  }
}

h3 {
  font-size: 28px;
  font-weight: 300;
  margin-block: 0;
  letter-spacing: 0.6px;
}

p {
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  font-weight: 300;
  margin-top: 0;
}

p.text-large {
  font-size: 18px;
  margin-bottom: unset;
}

p.text-small {
  background-color: #efefef;
  padding: 0 12px 0 12px;
  font-size: 12px;
  display: inline-block;
  border-radius: 5px;
}

a,
a:visited,
a:active {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
  transition: 0.2s ease-out;
}
a:hover, a:hover span,
a:visited:hover,
a:visited:hover span,
a:active:hover,
a:active:hover span {
  transition: 0.2s ease-out;
}

a.link-underline:hover, a.link-underline:hover span {
  -webkit-text-decoration: underline 1px;
          text-decoration: underline 1px;
}

a.special {
  background-color: #ffffff;
  color: #222222;
  padding: 5px 10px 5px 10px;
  border-radius: 6px;
}
a.special:hover {
  text-decoration: none;
  padding: 5px 15px 5px 15px;
  transition: 0.2s ease-out;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem 0 1rem;
}

a.btn-view-more {
  display: inline-block;
  border: 2px solid #B1BB1C;
  border-radius: 6px;
  padding: 0.8rem 1rem;
  background-color: #B1BB1C;
  font-weight: 500;
  font-size: 14px;
}
a.btn-view-more:hover {
  border: 2px solid #181818;
  background-color: #ffffff;
  color: #222222;
}

section {
  padding: 2rem 0 2rem 0;
}
@media (width >= 40em) {
  section {
    padding: 3rem 0 3rem 0;
  }
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  width: min(100% - 3rem, 75rem);
  margin: 0 auto;
}
.topnav button {
  background: none;
  border: none;
  padding: 5px 0 0 0;
}
@media (width >= 40em) {
  .topnav button {
    display: none;
  }
}
.topnav__open[aria-expanded=true] + .topnav__menu {
  translate: 0;
}
@media (prefers-reduced-motion) {
  .topnav__open[aria-expanded=true] {
    opacity: 1;
  }
}
.topnav__close {
  display: block;
  margin-inline-start: auto;
  margin-block-end: 8rem;
}
.topnav__close img {
  width: 2.5rem;
}
@media (width < 40em) {
  .topnav__menu {
    position: fixed;
    inset: 0;
    padding: 1.5rem;
    background-color: #181818;
    translate: 100vw 0;
    transition: translate 0.5s ease-in-out;
  }
}
@media (width < 40em) and (width >= 40em) {
  .topnav__menu {
    background-image: url(../img/cross.svg);
    background-blend-mode: multiply;
  }
}
@media (width < 40em) and (prefers-reduced-motion) {
  .topnav__menu {
    translate: 0;
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
}
.topnav__links {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin: 0;
  padding: 0;
}
@media (width < 40em) {
  .topnav__links {
    flex-direction: column;
  }
}
.topnav__item {
  list-style-type: none;
}

.wrapper-header {
  width: min(100% - 3rem, 56.25rem);
  margin-inline: auto;
  padding: 3rem 0 3rem 0;
  text-align: left;
}
@media (width >= 40em) {
  .wrapper-header {
    text-align: center;
    padding: 3rem 0 2rem 0;
  }
}

.wrapper-container {
  background-color: #fafafa;
  color: #222222;
}
.wrapper-container.bg-light {
  background-color: #ffffff;
}
.wrapper-container.bg-dark {
  background-color: #222222;
  color: #ffffff;
  background-blend-mode: multiply;
}

.wrapper-content {
  width: min(100% - 3rem, 75rem);
  margin-inline: auto;
}

.featured-content .wrapper-title {
  margin-bottom: 1rem;
}
@media (width >= 60em) {
  .featured-content .wrapper-title {
    text-align: left;
  }
}
.featured-content .wrapper-text {
  order: 2;
  max-width: 800px;
  margin: 0 auto;
}
.featured-content .wrapper-text p {
  text-align: justify;
}
.featured-content .wrapper-image {
  text-align: center;
  order: 1;
}
.featured-content img {
  border-radius: 6px;
  height: 240px;
  width: unset;
  margin-bottom: 1rem;
}
@media (width >= 60em) {
  .featured-content .wrapper-text {
    order: 1;
    max-width: unset;
    margin: 0 auto;
  }
  .featured-content .wrapper-image {
    order: 2;
    text-align: right;
  }
  .featured-content .wrapper-image img {
    max-width: 300px;
    margin-bottom: unset;
  }
}

.grid-2-col {
  display: grid;
}
@media (width >= 60em) {
  .grid-2-col {
    grid-template-columns: 3fr 1fr;
    gap: 5rem;
    justify-content: space-between;
  }
}

.grid-4-col {
  display: grid;
  justify-content: center;
  gap: 2rem;
}
@media (width >= 25em) {
  .grid-4-col {
    grid-template-columns: repeat(auto-fit, 300px);
    max-width: 400px;
  }
}
@media (width >= 40em) {
  .grid-4-col {
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    max-width: 800px;
  }
}
@media (width >= 77.75em) {
  .grid-4-col {
    max-width: unset;
  }
}

.wrapper-footer {
  width: min(100% - 3rem, 56.25rem);
  margin-inline: auto;
  padding: 5rem 0 8rem 0;
}

.wrapper-title {
  width: min(100% - 3rem, 75rem);
  margin-inline: auto;
  margin-bottom: 2rem;
  text-align: center;
}
@media (width >= 77.75em) {
  .wrapper-title {
    text-align: left;
  }
}

.card-project {
  border: 2px solid #181818;
  border-radius: 6px;
  background-color: #ffffff;
  text-align: center;
  transition: 0.2s ease-out;
  overflow: hidden;
}
.card-project:hover {
  box-shadow: 0px 8px 15px 0px rgba(49, 49, 49, 0.3);
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-out;
}
.card-project a:hover {
  text-decoration: none;
  transition: 0.2s ease-out;
}
.card-project img {
  max-width: 150px;
}
.card-project p.title-project {
  color: #ffffff;
  margin: 0 0 1rem 0;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95px;
  background-color: #064771;
}
.card-project p:not(.title-project, .text-small) {
  font-size: 14px;
}/*# sourceMappingURL=index.css.map */