@charset "utf-8";

/* file import */
@import 'variables';
@import 'mixins';

*,
*::before,
*::after {
  box-sizing: border-box;
}

.m-hidden {
  display: none;

  @media (width >= 25em) {
    display: inline-block;
  }
}

img {
  width: 100%;
}

// @keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }	
// }

// @-webkit-keyframes fadeIn {
//   0% {
//     opacity: 0;
//   }

//   100% {
//     opacity: 1;
//   }		
// }

// .fadeIn
// {
// 	animation-name: fadeIn;
// 	-webkit-animation-name: fadeIn;	

// 	animation-duration: 0.6s;	
// 	-webkit-animation-duration: 0.6s;

// 	animation-timing-function: ease-in-out;	
// 	-webkit-animation-timing-function: ease-in-out;		

// 	visibility: visible !important;	
// }

// .card {
//   background-color: white;
//   width: 20rem;
//   overflow: hidden;
//   margin: 2rem;
//   box-shadow: 5px 5px 5px 5px #000;
//   @include border-radius(0.5rem);
// }

body {
  position: relative;
  margin: 0;
  min-height: 100vh;
  color: $white;

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    height: 100%;
    background-color: $primary-color;

    @media (width >= 40em) {
      background-image: url(../img/cross.svg);
      background-blend-mode: multiply;
    }
  }
}

h1 {
  font-family: $primary-font-family;
  font-weight: $weight-light;
  margin-block: 0;
  letter-spacing: 0.2px;
  font-size: unset;
}

h2 {
  font-weight: $weight-light;
  margin-block: 0;
  letter-spacing: 0.2px;

  @media (width >= 40em) {
    font-size: 4rem;
  }

  @media (width >= 50em) {
    font-size: 6rem;
  }
}

h3 {
  font-size: 28px;
  font-weight: $weight-light;
  margin-block: 0;
  letter-spacing: 0.6px;
}

p {
  font-family: $primary-font-family;
  line-height: 30px;
  // letter-spacing: 0.5px;
  font-weight: $weight-light;
  margin-top: 0;
}

p.text-large {
  font-size: 18px;
  margin-bottom: unset;
}

p.text-small {
  background-color: #efefef;
  padding: 0 12px 0 12px;
  font-size: 12px;
  display: inline-block;
  border-radius: 5px;
}

a,
a:visited,
a:active {
  font-family: $primary-font-family;
  font-weight: 300;
  text-decoration: none;
  color: inherit;
  transition: .2s ease-out;

  &:hover,
  &:hover span {
    transition: .2s ease-out;
  }
}

a.link-underline {
  &:hover,
  &:hover span {
    text-decoration: underline 1px;
  }
}

a.special {
  background-color: $white;
  color: $black;
  padding: 5px 10px 5px 10px;
  border-radius: $radius-small;

  &:hover {
    text-decoration: none;
    padding: 5px 15px 5px 15px;
    transition: .2s ease-out;
  }
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem 0 1rem;
}

a.btn-view-more {
  display: inline-block;
  border: 2px solid  $accent-color-green;
  border-radius: $radius-small;
  padding: 0.8rem 1rem;
  background-color: $accent-color-green;
  font-weight: 500;
  font-size: 14px;
  // color: $white;

  &:hover {
    border: 2px solid  $secondary-color;
    background-color: $white;
    color: $black;
  }
}

section {
  padding: $spacing-small 0 $spacing-small 0;

  @media (width >= 40em) {
    padding: $spacing-medium 0 $spacing-medium 0;
  }
}

// div {
//   p:last-of-type {
//     margin-bottom: 0;
//   }
// }

// Top Navigation
.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1.5rem;
  width: $max-width;
  margin: 0 auto;

  // &__title {
  //   margin: 0;
  // }

  button {
    background: none;
    border: none;
    padding: 5px 0 0 0;

    @media (width >= 40em) {
      display: none;
    }
  }

  &__open[aria-expanded='true'] {
    + .topnav__menu {
      translate: 0;
    }
  
    @media (prefers-reduced-motion) {
      opacity: 1;
    }
  }

  &__close {
    display: block;
    margin-inline-start: auto;
    margin-block-end: 8rem;

    img {
      width: 2.5rem;
    }
  }

  &__menu {
    @media (width < 40em) {
      position: fixed;
      inset: 0;
      padding: 1.5rem;
      background-color: $secondary-color;
      translate: 100vw 0;
      transition: translate 0.5s ease-in-out;
      @media (width >= 40em) {
        background-image: url(../img/cross.svg);
        background-blend-mode: multiply;
      }
    }

    @media (width < 40em) and (prefers-reduced-motion) {
      translate: 0;
      opacity: 0;
      transition: opacity 500ms ease-in-out;
    }
  }

  &__links {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin: 0;
    padding: 0;

    @media (width < 40em) {
      flex-direction: column;
    }
  }

  &__item {
    list-style-type: none;
  }
}

// General Content
.wrapper-header {
  width: min(100% - 3rem, 56.25rem);
  margin-inline: auto;
  padding: $spacing-medium 0 $spacing-medium 0;
  text-align: left;

  @media (width >= 40em) {
    text-align: center;
    padding: $spacing-medium 0 $spacing-small 0;
  }
}

.wrapper-container {
  background-color: $grey;
  color: $black;

  &.bg-light {
    background-color: $white;
  }

  &.bg-dark {
    background-color: $black;
    color: $white;
    //background-image: url(../img/square.svg);
    background-blend-mode: multiply;
  }
}

.wrapper-content {
  width: $max-width;
  margin-inline: auto;
}

.featured-content {
  .wrapper-title {
    margin-bottom: $spacing-xsmall;

    @media (width >= 60em) {
      text-align: left;
    }
  }

  .wrapper-text {
    order: 2;
    max-width: 800px;
    margin: 0 auto;

    p {
      text-align: justify;
    }
  }

  .wrapper-image {
    text-align: center;
    order: 1;
  }

  img {
    border-radius: $radius-small;
    height: 240px;
    width: unset;
    margin-bottom: $spacing-xsmall;
  }

  @media (width >= 60em) {
    .wrapper-text {
      order: 1;
      max-width: unset;
      margin: 0 auto;
    }

    .wrapper-image {
      order: 2;
      text-align: right;

      img {
        max-width: 300px;
        margin-bottom: unset;
      }
    }
  }
}
.grid-2-col {
  display: grid;

  @media (width >= 60em) {
    grid-template-columns: 3fr 1fr;
    gap: $spacing-large;
    justify-content: space-between;
  }
}

.grid-4-col {
  display: grid;
  justify-content: center;
  gap: $spacing-small;

  @media (width >= 25em) {
    grid-template-columns: repeat(auto-fit, max(300px));
    max-width: 400px;
  }

  @media (width >= 40em) {
    // grid-template-columns: clamp(150px, 40%, 375px) auto;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
    max-width: 800px;
  }

  @media (width >= 77.75em) {
    max-width: unset;
  }
}

.wrapper-footer {
  width: min(100% - 3rem, 56.25rem);
  margin-inline: auto;
  padding: $spacing-large 0 $spacing-xlarge 0;
}

.wrapper-title {
  width: min(100% - 3rem, 75rem);
  margin-inline: auto;
  margin-bottom: $spacing-small;
  text-align: center;

  @media (width >= 77.75em) {
    text-align: left;
  }
}

.card-project {
  border: 2px solid $secondary-color;
  border-radius: $radius-small;
  background-color: $white;
  text-align: center;
  transition: .2s ease-out;
  overflow: hidden;
  // box-shadow: 0px 8px 15px 0px rgba(49,49,49,.2);

  &:hover {
    // box-shadow: 0px 8px 15px 0px rgba(6,71,113,.6);
    box-shadow: 0px 8px 15px 0px rgba(49,49,49,.3);
    text-decoration: none;
    cursor: pointer;
    transition: .2s ease-out;
  }

  a:hover {
    text-decoration: none;
    transition: .2s ease-out;
  }

  img {
    max-width: 150px;
  }

  p.title-project {
    color: $white;
    margin: 0 0 1rem 0;
    padding: 0.7rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 95px;
    background-color: $primary-color;

    @media (width >= 40em) {
      // background-image: url(../img/cross.svg);
      // background-blend-mode: multiply;
    }
  }

  p:not(.title-project, .text-small) {
    font-size: 14px;
  }
}

// .card-project {
//   display: flex;
//   flex-direction: column;
//   margin-bottom: $spacing-small;
//   flex: 1 1 auto;
//   flex-basis: auto;
//   flex-basis: 100%;

//   @media (width > 40em) {
//     flex-basis: 33%;
//   }
// }
